/* AboutUs.css */
.about-us-container {
    padding-top: 60px;

    text-align: center;

}

.about-us-title {
    margin-top: 5%;
    font-size: 2rem;
    color: #003366;
}

.about-us-text {
    font-size: 1.2rem;
    color: #333;
    margin: 20px auto;
    max-width: 800px;
}

.back-button {
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #002244;
}
