.block-card {
    position: relative; /* מאפשר שימוש בשכבות */

    background-size: cover; /* מכסה את כל השטח */
    background-position: center; /* ממרכז את התמונה */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 20%;
    height: 30vh;
    text-align: center;
    flex-shrink: 0;
    color: #fff; /* צבע הכתב לבן */
}
div[type="wedding-background"]{
    background-image: url('/public/wedding-icon.png'); /* נתיב לתמונה כרקע */
}
div[type="conference-background"]{
    background-image: url('/public/conference.jpg'); /* נתיב לתמונה כרקע */
}
div[type="private-background"]{
    background-image: url('/public/private.png'); /* נתיב לתמונה כרקע */
}

.block-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* שכבה שחורה עם שקיפות */
    z-index: 0; /* התמונה תהיה מאחורי הטקסט */
    border-radius: 10px;
}

.block-card h3, .block-card p {
    position: relative;
    z-index: 1; /* הטקסט מעל הרקע */
}

.block-card h3 {
    font-size: 1.9rem;
    color: #fff; /* צבע הכתב לבן */
    margin-bottom: 10px;
}

.block-card p {
    font-size: larger;
    color: #fff; /* צבע הכתב בהיר */

}
