.delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: medium;
    cursor: pointer;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #ff1a1a;
}
.event-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}