/* Home.css */
.home-page {

}

.hero-section {
    text-align: center;
    margin-top: 4%;

}

.cta-link {
    color: #007BFF;
    text-decoration: none;
}

.cta-link:hover {
    text-decoration: underline;
}

.event-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    gap: 1.5%;

}

.our-clients {
    text-align: center;
    margin-top: 20px;
}

