.profile-header-container{
    position: relative;
    width: 80vw;
    margin: 10px auto;
    top: 10vh;
    height: 10vh;
    border-radius: 10px;
    border: 3px solid #003366;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

.event-button{
    position: relative;
    border-radius: 10px;
    width: 100px;
    padding: 5px;
    font-weight: bold;
    color: #003366;
    cursor: pointer;
}

#create-event{
    top: 10vh;
    margin-left: 1%;
}


#lock-event{
    top: 6vh;
    color: red;
    border: 2px solid red;
    float: right;
    margin-right: 1%;
}
#photos-event{
    top: 6vh;

    float: right;
    margin-right: 1%;
}

.modal-content {
    position: relative;
    background-color: #fff;
    padding: 20px;
    width: 35%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3)
}

.modal-input{
    border-radius: 5px;
    padding: 5px;
}





.modal-event {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}


/* my events css */


.events-container {
    position: absolute;
    top: 30vh;
    margin-left: 1%;
    width: 40%;
    max-height: 60vh;
    overflow-y: auto;
    border: 3px solid #003366;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.events-container::-webkit-scrollbar {
    width: 10px;

}


.events-container::-webkit-scrollbar-track {
    background: #fffdfd;
    border-radius: 10px;
}

.events-container::-webkit-scrollbar-thumb {
    background: #003366;
    border-radius: 5px;
    cursor: pointer;
}

.events-container::-webkit-scrollbar-thumb:hover {
    background: #164870;
}

.event-container-title{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    color: #003366;

}

.event-list{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #003366;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.event-list-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    background-color: #003366;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

.event-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    cursor: pointer;



}
.event-item:hover {
    background-color: #c6d5e5;
}

.event-item.selected {
    background-color: #93a9c2;
    color: #fff;
}




#edit-user-button{
    position: absolute;
    left: 0;
    top: 0;
    font-size: larger;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#edit-user-button:hover{
    background-color: #a2adb9;
}

