.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Link-exit {
  background-color: #57adff;
  width: 80px;
  margin-left: 0px;
  border-radius: 8px;
  padding: 1px;
  font-size: small;
  /* הוספת מיקום מוחלט */
  position: fixed;
  bottom: 10px;
  right: 10px;
  /* מרכז הכתב */
  text-align: center; /* מרכז את הכתב באופן אופקי */
  line-height: 20px; /* גובה השורה מותאם כך שהטקסט יהיה ממורכז אנכית */
}
.Name-style{
  background-color: #6bc1f3;
  padding: 20px;
  margin-top: 0px;
  font-size: medium;
  text-align: center;
}
/**/





