.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.register-box {
    width: 400px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

p {
    text-align: center;
    color: #606770;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-group input, .input-group select {
    width: 48%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.gender .input-group {
    justify-content: space-around;
}

.register-button {
    width: 100%;
    padding: 12px;
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
    background-color: #36a420;
}
